<!DOCTYPE html>

<html>
    <head>
        <title>404 Page</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>
        <h1>{{>footer}}</h1>
    </body>
</html>