<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="main-content">
          {{>header}}  
    <h1>From {{title}} page</h1>
    </div>
    <h1>{{>footer}}</h1>
  </body>
</html>
